.container {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.leave-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.leave-form {
    width: 40%;
}

.login-segment {
    width: 60%
}

.popup {
    position: fixed;
    width: 30%;
    margin-top: 2%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999999;
}

.punch {
    text-align: center;
}

.punch-status {
    text-align: left;
}

.punch-action {
    text-align: justify;
}

.record {
    margin-top: 65px;
    margin-left: 25px;
    margin-right: 25px;
}

.head {
    position: absolute;
    width: 100%;
    z-index: 999
}

.calendar-container {
    height: 555px;
}

.calendar {
    width: 100%;
}

.calendar-date {
    height: 70px;
    width: 100px;
    background-color: #aae4ff;
    text-align: end;
    vertical-align: bottom;
}

.payroll-container {
    height: 555px;
}

.payroll-table {
    width: 100%;
    border: 1px grey solid;
}

.payroll-row {
    text-align: center;
    border: 1px grey solid;
}

.payroll-data {
    border: 1px grey solid;
}

.payroll-table-body {
    overflow-y: scroll;
}

.payslip {
    width: 100%;
    border: 1px grey solid;
    height: 100vh;
    padding: 30px;
}

.payslip-heading {
    font-size: 35px;
    font-weight: bold;
}

.payslip-subheading {
    font-size: 15px;
    font-weight: bold;
}

.payslip-subcontainer {
    text-align: center;
}

.payslip-signature-box {
    height: 200px;
    width: 200px;
}

.payslip-signature-area {
    position: absolute;
    bottom: 0;
    left: 1px;
}

.payslip-signature {
    font-weight: bold;
}